*{
  padding:0;
  margin: 0%;
}
body{
  height: 100vh;
  background-color: beige;
  transition: 0.5s;
}
.search-bar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: 0.5s;

}
.mood{
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  padding: 0.25rem;
  transition: 0.5s;

}
.searchBox{
  height:1.3rem;
  width: 70%;
  padding: 0.4rem;
  border: 2px solid black;
  font-size: 0.85rem;
  display: block;
  transition: 0.5s;

}
.container{
  display: flex;
}
.container h1{
  font-size: 2.5rem;
  margin-left: 1.5rem;
}
form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 3rem;
  width: 50%;
  transition: 0.5s;

}
input{
  font-size:3rem;
  padding: 0.95rem;
  margin: 1rem;
  border: none;
  background-color: beige;
  transition: 0.5s;


}
textarea{
  font-size: 1.45rem;
  padding: 0.95rem;
  margin: 0 1rem;
  height: 15rem;
  background-color: beige;
  transition: 0.5s;

  border: none;
}
button{
  border-radius: 12px;
  background-color:#2f5d62;
  font-size: 2rem;
  font-weight: 550;
  color: aliceblue;
  padding:0.95rem;
  border: none;
  width: 50%;
  align-self: center;
  transition: 0.5s;

}
button:active{
  transform: scale(1.1);
  background-color: #1a5157;
}
.card-holder{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  /* padding-top: 2rem; */
  margin: 2rem;
    transition: 0.7s;

}

.card{
  max-height: 15rem;
  width: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 12px;
  background-color: white;
  padding: 1rem;
  position: relative;
  min-width: 0; 
  transition: 0.5s;

}
.card h5{
  position: absolute;
  right:1rem;
  top: 1rem;
}
.card h5:hover{
  cursor: pointer;
}
.card h5:active{
  transform: scale(1.09);
}
.pinn{
  position: absolute;
  /* top: 1.5rem; */
  right: 1rem;
}
.card p, .card h3{
  word-break: keep-all;     
  overflow-wrap: break-word;
  white-space: normal;
}
.card h3{
  font-size: 1.5rem;
  /* word-wrap: break-word; */
}
.card p{
  margin-top: 1rem;
  font-size: 1.2rem;
  color: grey;
  white-space: pre-wrap;
  line-height: 1.5; 
}
@media(max-width:950px){
  body{
    overflow-x: hidden;
  }
  .container{
    display: block;
    overflow-x: hidden;
  }
  form{
    width: 100%;
    margin: 0.8rem;
    margin-left: 0%;
  }
  .card-holder{
    width: 100%;
    margin: 2rem;
    /* margin-left: 10%; */
  }
  .search-bar{
    width: 80%;
  }
}

.dark{
  background-color: #121212;
  color: white;
}

.dark input,
.dark textarea{
  background-color: #1e1e1e;
  color: white;
}


.dark .searchBox{
  background-color: #1e1e1e;
  color: white;
  border: 2px solid white;
}


.dark .card{
  background-color: #1f1f1f;
  color: white;
}


.dark .card p{
  color: #cfcfcf;
}

.dark button{
  background-color: #4b7bec;
}

.dark button:active{
  background-color: #3867d6;
}

.dark input::placeholder,
.dark textarea::placeholder{
  color: #bdbdbd;
}